bin
gen
.svn
.properties
project.properties
.gradle
.idea
build
/gradlew
/gradlew.bat
/ic_launcher-web.png
/lint.xml
/local.properties
/o2o_user.iml
/o2o_user_b1.iml
/proguard-project.txt
/YouAnMiO2oUser.iml
/YouAnMiO2oUser2.iml
/YZo2o.iml
/.settings
/.project
/.classpath
/mapping.txt
/project.properties
/YouAnMiO2oUser_zf.iml
/YouAnMiUserApp_YanBao.iml
/YouAnMiUserApp_JY.iml
/*.iml
/dir_conflicts.prej
/mapping_old.txt
/res/raw/config.properties
